/*
 *  @(#) $Id: sample1n.cfg 1.7 2017/6/1 8:50:32 abe $
 */

/*
 *  ネットワーク対応サンプルプログラム(1)の
 *  システムコンフィギュレーションファイル
 */


#include "sample1n.h"

INCLUDE("sample1.cfg");

INCLUDE("@(TINETDIR)/tinet_asp.cfg");

/* セマフォ */

CRE_SEM(SEM_TCP_SYSLOG, { TA_TPRI, 1, 1 });
CRE_SEM(SEM_NET_SEND,   { TA_TPRI, 1, 1 });
